td, th {
  border: 1px solid black;
  text-align: left;
  padding: 3px
}

thead {
  background: #7EE1FF;
}

table {
  border-spacing: 0;
  font-family: Consolas, ‘Andale Mono WT’, ‘Andale Mono’, ‘Lucida Console’, ‘Lucida Sans Typewriter’, ‘DejaVu Sans Mono’, ‘Bitstream Vera Sans Mono’, ‘Liberation Mono’, ‘Nimbus Mono L’, Monaco, ‘Courier New’, Courier, monospace;
  font-size: 10px;
  border-collapse:collapse;
}
